@model Prueba.Models.FCT

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FCT</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinatarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinatarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SucursalDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SucursalDestino!.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRecaudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRecaudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SucursalOrigen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SucursalOrigen!.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Codigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
